.footer-container {
    padding: 30px;
    background-color: #1F407F;
    border-radius: 16px;
    color: #FFFFFF;
    // position: fixed;
    width: 1037px;
    bottom: 24px;
}

footer{
    font-size: $font-x-small;
}